In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import *
import pyspark.sql.functions as F
from pyspark.sql.functions import *
from datetime import datetime

In [2]:
spark = SparkSession.builder.master("local").appName("ML").getOrCreate()

In [3]:
spark

In [4]:
Access_key_ID="*******************"
Secret_access_key="*********************************"
# Enable hadoop s3a settings
spark.sparkContext._jsc.hadoopConfiguration().set("com.amazonaws.services.s3.enableV4", "true")
spark.sparkContext._jsc.hadoopConfiguration().set("fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem")
spark.sparkContext._jsc.hadoopConfiguration().set("fs.s3a.aws.credentials.provider", \
                                     "com.amazonaws.auth.InstanceProfileCredentialsProvider,com.amazonaws.auth.DefaultAWSCredentialsProviderChain")
spark.sparkContext._jsc.hadoopConfiguration().set("fs.AbstractFileSystem.s3a.impl", "org.apache.hadoop.fs.s3a.S3A")

spark.sparkContext._jsc.hadoopConfiguration().set("fs.s3a.access.key",Access_key_ID)
spark.sparkContext._jsc.hadoopConfiguration().set("fs.s3a.secret.key",Secret_access_key)
spark.sparkContext._jsc.hadoopConfiguration().set("fs.s3a.endpoint", "s3.us-east-2.amazonaws.com")

In [5]:
# Configure Redshift credentials and database information
redshift_jdbc_url = "jdbc:redshift://redshift.clxkpdwlmkpt.us-east-2.redshift.amazonaws.com:5439/dev"
redshift_user = "awsuser"
redshift_password = "AWS$user7"
redshift_database = "dev"
redshift_table = "bank"

In [6]:
# Reading data from Redshift 

df_reader = spark.read \
    .format("jdbc") \
    .option("url", redshift_jdbc_url) \
    .option("dbtable", redshift_table) \
    .option("user", redshift_user) \
    .option("password", redshift_password) \
    .option("fetchsize", "3000")

df = df_reader.load().limit(3000)

df.show()

+---+------------+--------+---------+--------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+------+
|age|         job| marital|education|default1|balance|housing|loan|  contact|day|month|duration|campaign|pdays|previous|poutcome|target|
+---+------------+--------+---------+--------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+------+
| 71|  management|  single| tertiary|     yes|  30398|     no|  no|  unknown|  2|  sep|     874|      24|   37|       6| success|    no|
| 39|    services|  single|  primary|     yes|  20995|    yes|  no|  unknown| 29|  apr|    4782|       2|  165|      14| unknown|   yes|
| 40|entrepreneur| married|  primary|     yes|  47421|    yes|  no|  unknown| 10|  nov|    3939|      10|  427|      15| failure|    no|
| 74| blue-collar|  single|  primary|     yes|  44915|     no|  no|telephone| 13|  apr|    1242|      42|  481|      18| unknown|    no|
| 22|entrepreneur|divorced|secondary|     yes|  30806|     no| yes| cellular| 12|  oct|    1814|       2|  611|       4| unknown|   yes|
| 32|       admin|  single|secondary|      no|   7256|    yes| yes| cellular|  6|  sep|    1470|      19|  420|      11| failure|   yes|
| 19|     student| married|secondary|     yes|  10484|    yes| yes|  unknown|  6|  jun|      57|      37|  159|       9| success|    no|
| 78|  technician|divorced| tertiary|     yes|  12484|    yes| yes| cellular|  9|  feb|    3841|      10|  693|      18| success|   yes|
| 22| blue-collar|  single|  primary|     yes|  12885|    yes| yes|telephone| 15|  may|    3033|       9|  146|       3| failure|   yes|
| 61| blue-collar|divorced| tertiary|     yes|  33317|     no|  no|  unknown|  7|  feb|    1479|      35|  211|       4| unknown|   yes|
| 64|  management|divorced|  primary|     yes|   4150|     no|  no|telephone| 18|  oct|     874|      27|  841|       7| unknown|    no|
| 70|   housemaid|divorced| tertiary|      no|  49250|    yes| yes|telephone| 28|  oct|    1014|      26|  391|       0| unknown|   yes|
| 79|  technician|  single|  primary|     yes|  47104|    yes|  no|telephone|  1|  jan|    3967|      32|  557|       8| unknown|   yes|
| 42|  technician| married| tertiary|      no|   2422|     no| yes| cellular| 25|  may|    2910|       7|  187|      17| success|    no|
| 61|     student|divorced|secondary|     yes|  30922|    yes|  no|telephone| 15|  sep|     520|      22|  835|       9| success|   yes|
| 64| blue-collar|  single| tertiary|      no|  31442|     no|  no| cellular| 27|  may|    1776|       4|  194|       6| success|   yes|
| 69|entrepreneur| married| tertiary|     yes|  41113|     no| yes| cellular| 29|  mar|    3603|      33|  583|      10| failure|    no|
| 49|     student|  single|  primary|     yes|   4493|     no|  no|telephone| 27|  mar|     431|      46|  198|      16| success|    no|
| 29|  technician| married| tertiary|     yes|   5840|    yes| yes|  unknown| 30|  sep|    1689|      33|  780|      15| unknown|   yes|
| 73|   housemaid| married|  primary|      no|  43274|     no|  no|  unknown| 23|  aug|    1339|      34|  218|       0| failure|    no|
+---+------------+--------+---------+--------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+------+
only showing top 20 rows

In [7]:
df.count()

3000

In [9]:
!pip install pandas

Requirement already satisfied: pandas in ./.local/lib/python3.8/site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in ./.local/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.20.3; python_version < "3.10" in ./.local/lib/python3.8/site-packages (from pandas) (1.24.2)
Requirement already satisfied: pytz>=2020.1 in ./.local/lib/python3.8/site-packages (from pandas) (2022.7.1)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.1->pandas) (1.14.0)

In [10]:
!pip install boto3

Requirement already satisfied: boto3 in ./.local/lib/python3.8/site-packages (1.26.94)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in ./.local/lib/python3.8/site-packages (from boto3) (1.0.1)
Requirement already satisfied: botocore<1.30.0,>=1.29.94 in ./.local/lib/python3.8/site-packages (from boto3) (1.29.94)
Requirement already satisfied: s3transfer<0.7.0,>=0.6.0 in ./.local/lib/python3.8/site-packages (from boto3) (0.6.0)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in ./.local/lib/python3.8/site-packages (from botocore<1.30.0,>=1.29.94->boto3) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /usr/lib/python3/dist-packages (from botocore<1.30.0,>=1.29.94->boto3) (1.25.8)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.30.0,>=1.29.94->boto3) (1.14.0)

In [18]:
import pandas as pd
import boto3
from io import StringIO
new_df = df.toPandas()

In [19]:
new_df

,age,job,marital,education,default1,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,target
0,71,management,single,tertiary,yes,30398,no,no,unknown,2,sep,874,24,37,6,success,no
1,39,services,single,primary,yes,20995,yes,no,unknown,29,apr,4782,2,165,14,unknown,yes
2,40,entrepreneur,married,primary,yes,47421,yes,no,unknown,10,nov,3939,10,427,15,failure,no
3,74,blue-collar,single,primary,yes,44915,no,no,telephone,13,apr,1242,42,481,18,unknown,no
4,22,entrepreneur,divorced,secondary,yes,30806,no,yes,cellular,12,oct,1814,2,611,4,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,31,unemployed,married,secondary,no,3242,no,no,unknown,25,jun,292,2,-1,0,unknown,no
2996,59,technician,married,primary,no,3163,yes,no,unknown,29,may,240,2,-1,0,unknown,no
2997,50,unemployed,divorced,secondary,no,32,no,no,cellular,4,aug,282,2,-1,0,unknown,no
2998,47,admin.,married,secondary,no,310,yes,yes,telephone,14,aug,128,6,-1,0,unknown,no
2999,46,housemaid,married,primary,no,0,no,no,telephone,2,feb,161,1,-1,0,unknown,no

In [20]:
# Loading Sample Data into S3 bucket

csv_buffer = StringIO()
new_df.to_csv(csv_buffer, index=False)

# create a Boto3 S3 client
s3 = boto3.client('s3')

# set the S3 bucket name and CSV file name
bucket_name = 'client-data-source'
csv_file_name = 'ml.csv'

# upload the CSV file to S3
s3.put_object(Body=csv_buffer.getvalue(), Bucket=bucket_name, Key=csv_file_name)

{'ResponseMetadata': {'RequestId': 'MT0PTGKHGWJ6J5VS',
  'HostId': 'LkA2khF0chm2FYrl8EQYBryyUAwI7/OgUkD/rLCiOyuMPUTnMWetVVPWEND1mEUT9aVhK+Dx8SE=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'LkA2khF0chm2FYrl8EQYBryyUAwI7/OgUkD/rLCiOyuMPUTnMWetVVPWEND1mEUT9aVhK+Dx8SE=',
   'x-amz-request-id': 'MT0PTGKHGWJ6J5VS',
   'date': 'Sat, 18 Mar 2023 12:58:41 GMT',
   'x-amz-version-id': 'fziiMeXf23AYxyzhqEB2mciLc4QQWFMw',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"9447239299a1b9ee510e1a4c65c6c92d"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 1},
 'ETag': '"9447239299a1b9ee510e1a4c65c6c92d"',
 'ServerSideEncryption': 'AES256',
 'VersionId': 'fziiMeXf23AYxyzhqEB2mciLc4QQWFMw'}